<div class="jumbotron">
    <h1>Photos</h1>
</div>

<div class="container">
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">Nova Foto</a>
                    </span>
                    <input #textoBusca (keyup)="0" class="form-control" type="text" placeholder="filtrar pelo título">
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <painel *ngFor="let foto of fotos | filtroPorTitulo: textoBusca.value" titulo="{{foto.titulo}}" class="col-md-2">
            <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            <br>
            <button (click)="remove(foto)" class="btn btn-danger btn-block">Remover</button>
        </painel>
    </div>
</div>